THINGWORX_HOST = "10.2.123.244"
APP_KEY = ""
HTTP_BASIC_AUTH = ""

basestations = [{ 
                    "com_port": "COM3",
                    "baud_rate": 921600,
                    "nodes": [{"address": 56609}],
                    "config" : {}
                }]
